@import "custom";
@import "placeholders";

// Header
#header-logo {
    color: #b0d546;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 36px;
    span {
        font-weight: normal;
        color:#ff9600;
    }
}
header.utility {
    background-color: white;
    border-bottom: 1px solid $greyColor;
    padding-bottom: 1px;
    // height: 55px;
    .row {
        @extend %max-width-960;
    }
    #header-navigation {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
    }
}
.navbar-collapse {
    background-color: white;
    z-index: 2;
}

.navbar-nav {
    a {
        color: #292929;
    }
    &:first-child {
        border-left: 1px solid $greyColor;
    }
    &:last-child {
        border-right: 1px solid $greyColor;
    }
    a.nav-link.active {
        color:#1ea3c9;
    }
    .nav-item {
        a.nav-link {
            padding: 18px;
            font-size:12px;
            &:active,
            &:hover {
                color:#1ea3c9;
            }
        }
        border-left: 1px solid $greyColor;
        border-right: 1px solid $greyColor;
    }
    .divider {
        width: 1px;
        height: auto;
        background-color: white;
        display: block;
    }
}
@media (max-width: 991px) {
    header {
        .nav-item,
        ul.navbar-nav {
            border: none !important;
            a.nav-link {
                padding-left: 0 !important;
            }
        }
    }
    .body-title {
        height: auto;
        h2.title {
            font-size:20px !important;
        }
    }
    
}


// Carousel

#carouselControls {
    padding: 1px 0;
}
.carousel-caption-custom {
    position: absolute;
    right: 15%;
    bottom: 50px;
    left: 20%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #9ec430;
    text-align: left;
    p {
        font-family: 'Open Sans';
        font-weight: 300;
        color: #727272;
        font-size: 16px;
        text-transform: uppercase;
    }
}
.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: white;
        border-radius: 50px;
        width: 60px;
        height: 60px;
        background-image: none;
    }
    .carousel-control-prev-icon:before,
    .carousel-control-next-icon:before {
        position: absolute;
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        border: solid #5b5b5b;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 7px;
        margin-top: 22px;
    }
    .carousel-control-next-icon:before {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-left: -10px;
    }
    .carousel-control-prev-icon:before {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin-left: -5px;
    }
}


// FONTS

//light 
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

//bold
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

//regular
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff'),
        url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h5 {
    line-height: 3.5vw;
    .blue-font {
        font-family: 'Open Sans';
        font-weight: 300;
        color: #10b1df;
        font-size:3vw;
    }
    
    .green-font {
        font-family: 'Open Sans';
        font-weight: normal;
        color: #9ec430;
        font-size:4vw;
    }
    
    .magenta-font {
        font-family: 'Open Sans';
        font-weight: bold;
        color: #ff048c;
        font-size:6vw;
    }
}
.body-title {
    background-color: #f8fafb;
    height: 117px;
    border-top: 1px solid $greyColor;
    border-bottom: 1px solid $greyColor;
    h2.title {
        font-family: 'Open Sans';
        font-weight: 300;
        color: #4e4e4e;
        font-size:26px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 5px;
        span:first-child {
            color:#10b1df;
        }
        span:last-child {
            color:#91b723; 
        }
    }
    summary.sub-title {
        font-family: 'Open Sans';
        font-weight: 300;
        color: #7c7c7c;
        font-size:11px;
        text-align: center;
        font-style: italic;
    }
}


.services-4x {
    border-bottom: 1px solid $greyColor;
    color: white;
    font-family: 'Open Sans';
    font-size: 12px;
    text-align: center; 

    h6 {
        text-transform: uppercase;
        font-weight: 300;
    }
    .row {
        @extend %max-width-960;
    }
    .www-service {
        @extend %service-box;
        background-image: url('../img/4x-1_bg.png');
    }
    .creative-ideas-service {
        @extend %service-box;
        background-image: url('../img/4x-2_bg.png');
    }
    .theme-service {
        @extend %service-box;
        background-image: url('../img/4x-3_bg.png');
    }
    .support-service {
        @extend %service-box;
        background-image: url('../img/4x-4_bg.png');
    }
}

.projects-4x {
    @media (max-width: 991px) {
        .project-box {
            max-width: 260px;
            padding: 0 !important;
        }

    }
    a:hover {
        text-decoration: none;
        .projects-title {
            color: #1ea3c9;
        }
    }
    .row {
        @extend %max-width-960;
        .view-all-proj-cta {
            background-color: #ff048c;
            color:white;
            text-transform: uppercase;
            font-size: 12px;
            border-radius: 3px;
        }
        .figure {
            max-width: 260px;
        }
        .view-all-box {
            font-size: 12px;
            color:#525252;
            h6 {
                font-family: 'Open Sans';
                font-weight: normal;
                font-size: 22px;
                color: #ff9600;
                span {
                    color: #575757;
                }
            }
        }
        .projects-title {
            @extend %projects-title;
        }
    }
}

.contact-us-page {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 12px;
    color: #525252;
}

footer {
    background-color:#f7fcff;
    border-top: 1px solid #ededed;
    padding-top: 8px;
    .client-testimonials {
        h6 {
            color:#ff9600;
            span {
                color:#333332;
            }
        }
        .carousel-control-prev {
            top: 46px;
            display: block;
            left:unset;
            right: 54px;
            bottom: auto;
            width: 31px;
            .carousel-control-prev-icon {
                @extend %carousel-control-icons;
                &:before {
                    border-width: 0 1px 1px 0;
                    padding: 3px;
                    margin-top: 9px;
                    margin-left: -2px;
                }
            }
        }
        .carousel-control-next {
            top: 46px;
            display: block;
            right: 24px;
            bottom: auto;
            width: 31px;
            .carousel-control-next-icon {
                @extend %carousel-control-icons;
                &:before {
                    border-width: 0 1px 1px 0;
                    padding: 3px;
                    margin-top: 9px;
                    margin-left: -5px;
                }
            }
        }
    }
    .max-width {
        @extend %max-width-960;
        .blog-post-footer {
            h6 {
                color:#b0d546;
            }
        }
        .footer-box {
            padding: 20px 20px 40px 20px;
            background-color: white;
            border: 1px solid #ededed;
            font-size: 14px;
            min-height: 308px;
            height: 87%;
            h6 {
                border-bottom: 1px solid #ededed;
                margin-bottom: 1px;
                font-size:22px;
                font-weight: 600;
                span {
                    color: #333332;
                }
            }
            .posts {
                &:nth-child(2) {
                    border-top: 1px solid #ededed;
                }
                .post-left-side {
                    width: 65px;
                    display: inline-block;
                }
                .post-right-side {
                    width: calc( 100% - 65px );;
                    display: inline-block;
                    padding-left: 3%;
                    p {
                        color: #333332;
                        font-size: 12px;
                        padding-top: 14px;
                    }
                    .post-date {
                        color: #10b1df;
                        font-size: 10px;
                    }
                }
            }
        }
        .testimonials-carousel {
            border-top: 1px solid #ededed;
            p {
                font-size: 12px;
                line-height: 23px;
                color: #525252;
            }
            p:first-child {
                &:before {
                    content:url('../img/testimonials-quotes.png');
                    position: absolute;
                    left:0;
                    top: 20px;
                }
            }
            .testimonial-autor {
                color: #91b52a;
                span {
                    color:#636363;
                }
            }
        }
    }
    .w-100 {
        background-color: #3e3e3e;
        .utility-footer {
            min-height: 38px;
            @extend %max-width-960;
            p {
                color: #9d9d9d;
                font-size: 11px;
                opacity: 0.6;
                line-height: 38px;
                @media (max-width: 991px) {
                    text-align: center;
                    padding: 20px;
                    line-height: 20px;
                }
                span {
                    color:#dfdfdf;
                }
            }
        }
    }
    .footer-social-icon {
        width: 22px;
        height: 22px;
        margin-top: 8px;
        background-color: #545454;
        color:#8f8f8f;
        &:hover {
            background-color: #677ac6;
            color:white;
        }
        &:before {
            top: 3px;
            left: 4px;
            position: relative;
        }
    }
    @media (max-width: 991px) {
        .footer-social-wrapper {
            width: 100%;
        }
        .social-footer {
            margin:0 auto;
            width: 102px;
        }
    }
}


